* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}
header {
    background-color: #c6d5d8;
    padding: 2rem 0;
}
.menu-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.action-button {
    background-color: #7C83FD;
    border: none;
    padding: .3rem .5rem;
    border-radius: .2rem;
    color: white;
    cursor: pointer;
}
.action-button:hover {
    background-color: #676ee7;
}
form {
    text-align: center;
    margin: 1rem 0;
}
h1 {
    text-align: center;
    margin-bottom: 1rem;
}
.circle {
    /* transition: all .3s; */
}
.circle.active {
    fill: #ECD662;
}